* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    
}
main {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 3em;
    justify-content: center;
}
.section {
    display: flex;
    flex-direction: row;
}
.box-one {
    flex-direction: column;
    background-color: hsl(31, 77%, 52%);
    color: white;
    height: 500px;
    width: 300px;
    border-radius: 8px 0 0 8px;
}
.sedan-icon, .suv-icon, .luxury-icon {
    justify-content: center;
    align-items: center;
    padding-top: 2.1em;
    padding-left: 1em;
}
.box-two {
    flex-direction: column;
    background-color: hsl(184, 100%, 22%);
    color: white;
    height: 500px;
    width: 300px;
    
}
.box-three {
    flex-direction: column;
    background-color: hsl(179, 100%, 13%);
    color: white;
    height: 500px;
    width: 300px;
    border-radius: 0 8px 8px 0;
}
h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    padding: 2em 2em;
    padding-left: 1em;
    padding-bottom: 30px;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
    padding-right: 10px;
    padding-bottom: 50px;
    line-height: 25px;
}
button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    border: 0;
    justify-content: center;
    margin-right: 2em;
    margin-left: 2em;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
}
button:hover {
    transition: all 1s;
    filter:brightness(1.1);
transform: scale(1.1);
}
.box-one button {
    color: hsl(31, 77%, 52%);
}
.box-two button {
    color: hsl(184, 100%, 22%);
}
.box-three button {
    color: hsl(179, 100%, 13%);
}
@media (max-width: 768px) {
    body {
        font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-one {
        border-radius: 8px 8px 0 0;
    }
.box-three {
    border-radius: 0 0 8px 8px;
}
}